
.classpath

.project

*.prefs

*.class

*.MF

target/classes/META-INF/maven/mlaz.common/mlaz.common/pom.properties

target/classes/META-INF/maven/mlaz.common/mlaz.common/pom.xml

target/classes/META-INF/spring/app-context.xml

target/test-classes/com/mlaz/common/ExampleConfigurationTests-context.xml

target/test-classes/log4j.properties
